@import 'settings';
@import 'common/layout';
@import 'common/typography';
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);


* { box-sizing: border-box; }

body {
  margin: 51px 0 0 0;
  font-family: var(--fontMontserrat);
  overflow-y: scroll;
}

.app {
  @apply --box;
  height: 100%;
  font-weight: normal;
  font-smoothing: antialiased;
}


/* Add your global styles below... */

:global {
  & .playlist-fiche-search .filter-item {
    width: 50%;
  }
  & .edit-search-form .filter-item {
    width: 50%;
  }
  & .well {
    background-color: #fdfdfd;
  }
  & .mce-toolbar-grp {
    background-color: #fdfdfd!important;
  }
  & .mce-btn {
    background-color: #fdfdfd!important;
  }
  & .mce-btn button {
    padding: 2px 4px!important;
    font-size: 10px!important;
    line-height: 0px!important;
  }
}


.sidebar-nav-fixed button {
  width: 100%;
}
