/*
  don't show anything from the status bar and changed a bit the height of this component
 */

.mce-path.mce-flow-layout-item.mce-first{
  display: none;
}

.mce-container-body.mce-flow-layout{
  height: 25px;
}