.react-datepicker {
  font-size: 0.8em;
  border-radius: 0.3em;
}

.react-datepicker__header {
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
}

.react-datepicker__current-month {
  font-size: 0.944em;
}

.react-datepicker__navigation {
  line-height: 1.7em;
}
.react-datepicker__month {
  margin: 0.4em;
}

.react-datepicker__week-number {
  width: 1.7em;
  line-height: 1.7em;
  margin: 0.166em;
}

.react-datepicker__day-name,
.react-datepicker__day {
  width: 1.7em;
  line-height: 1.7em;
  margin: 0.166em; 
}

.react-datepicker__day:hover {
  border-radius: 0.3em;
}
.react-datepicker__day--highlighted {
  border-radius: 0.3em;
}
.react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range {
  border-radius: 0.3em;
}
.react-datepicker__day--keyboard-selected {
  border-radius: 0.3em;
}

.react-datepicker__year-read-view,
.react-datepicker__month-read-view {
  border-radius: 0.3em; 
}
.react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-read-view--down-arrow {
  border-width: 0.45em; 
}

.react-datepicker__year-dropdown,
.react-datepicker__month-dropdown {
  border-radius: 0.3em;
}
.react-datepicker__year-option:first-of-type,
.react-datepicker__month-option:first-of-type {
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em; 
}
.react-datepicker__year-option:last-of-type,
.react-datepicker__month-option:last-of-type {
  border-bottom-left-radius: 0.3em;
  border-bottom-right-radius: 0.3em; 
}
.react-datepicker__portal .react-datepicker__day-name,
.react-datepicker__portal .react-datepicker__day {
  width: 3em;
  line-height: 3em; 
}
@media (max-width: 400px), (max-height: 550px) {
  .react-datepicker__portal .react-datepicker__day-name,
  .react-datepicker__portal .react-datepicker__day {
    width: 2em;
    line-height: 2em; 
  } 
}
.react-datepicker__portal .react-datepicker__current-month {
  font-size: 1.44em; 
}
.react-datepicker__portal .react-datepicker__navigation {
  border: 0.81rem solid transparent; 
}