.center-cropped {
  width: 80%;
  height: 200px;
  float: right;
  background-position: center center;
  background-repeat: no-repeat;
}

.feed-inner-divider {
  width: 4px;
  height: 100%;
  margin-top: 8px;
  margin-bottom: 8px;
  position: relative;
  float: left;
  background: #C1C1C1;
}
