@import '../settings';
@import '../common/typography';
@import './mixin';

.thumbnail .panel {
  padding: 6px;
}

.blue {
  color: blue;
}

.panel-heading {
  padding: 0;
}

.panel-heading {
  background: #FFFFFF;
}

.border_type-object {
  border-color: #C7DD95;
}

.border_type-person {
  border-color: #E892B4;
}

.border_type-place {
  border-color: #631534;
}

.border_type-media {
  border-color: #BE6F4E;
}

.border_type-event {
  border-color: #4A9DAD;
}

.background-object{
  margin-top: -18px;
}

.background-person{
  margin-top: -16px;
  margin-left: -3px;
}

.background-place{
  margin-top: -17px;
  margin-left: -3px;
}

.background-media{
  margin-top: -20px;
  margin-left: -3px;
}

.background-event{
  margin-top: -23px;
  margin-left: -2px;
}

.fiche_title-object{
  color: #C7DD95;
}

.fiche_title-person{
  color: #E892B4;
}

.fiche_title-place{
  color: #631534;
}

.fiche_title-media{
  color: #BE6F4E;
}

.fiche_title-event{
  color: #4A9DAD;
}

.hovereffect {
  overflow: hidden;
  position: relative;
  height: 180px;
}
