@import '../settings';
@import '../common/colors';
@import '../common/typography';

.message {
  display: none;
  padding: 12px 0;
  border-radius: var(--globalRadius);
  color: var(--colorBlack);
  font-size: var(--fontMedium);
  text-align: center;
  z-index: 99999;
  position: fixed;
  width:80%;
  margin: 0 0 0 -40%;
  left:50%;
}

.show {
  display: block;
}

.success {
  background-color: var(--colorSalem);
  color: var(--colorWhite);
}

.error {
  background-color:var(--colorCrimson);
  color: var(--colorWhite);
}
