/**
 * Aims to factorize like for mobile, the corelation between Fiche and Playlists
 */
@import '../common/card';

.imgcard {
  border-radius: 4px 4px 0px 0px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
  border-bottom: 10px solid #334248;
}

.picto-card {
  margin-top: -31px;
  margin-left: 20px;
  margin-right: auto;
  position: relative;
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 70% 70%;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 12px;
  font-size: 28px;
  text-align: center;
  color: white;
}

.picto-number {
  margin-top: -50px;
  margin-right: 20px;
  margin-left: auto;
  position: relative;
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 70% 70%;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 12px;
  font-size: 28px;
  text-align: center;
  color: white;
}

.card .selected {
  background-color: #5bc0de !important;
  border-color: #5bc0de !important;
}

.cards {
  @apply --card;
  padding:0;
  overflow: hidden;
}

.cards .overlay {
  width: 100%;
  position: absolute;
  overflow: hidden;
  left: 0;
  top: auto;
  bottom: 0;
  padding: 1em;
  height: 4.75em;
  background: rgba(0,0,0,.25);
  color: #3c4a50;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}

.cards:hover .overlay {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}