.timeline {
  position: relative;
  padding: 21px 0px 10px;
  margin-top: 4px;
  margin-bottom: 30px;
}

.timeline .line {
  position: absolute;
  width: 4px;
  display: block;
  background: currentColor;
  top: 0px;
  bottom: 0px;
  margin-left: 30px;
}

.timeline .separator {
  border-top: 1px solid currentColor;
  padding: 5px;
  padding-left: 40px;
  font-style: italic;
  font-size: .9em;
  margin-left: 30px;
}

.timeline .line::before {
  top: -4px;
}

.timeline .line::after {
  bottom: -4px;
}

.timeline .line::before,
.timeline .line::after {
  content: '';
  position: absolute;
  left: -4px;
  width: 12px;
  height: 12px;
  display: block;
  border-radius: 50%;
  background: currentColor;
}

.timeline .panel {
  position: relative;
  margin: 10px 0px 21px 70px;
  clear: both;
}

.timeline .panel::before {
  position: absolute;
  display: block;
  top: 8px;
  left: -24px;
  content: '';
  width: 0px;
  height: 0px;
  border: inherit;
  border-width: 12px;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
}

.timeline .panel .panel-heading.icon * {
  font-size: 20px;
  vertical-align: middle;
  line-height: 40px;
}

.timeline .panel .panel-heading.icon {
  position: absolute;
  left: -59px;
  display: block;
  width: 40px;
  height: 40px;
  padding: 0px;
  border-radius: 50%;
  text-align: center;
  float: left;
}

.timeline .panel-outline {
  border-color: transparent;
  background: transparent;
  box-shadow: none;
}

.timeline .panel-outline .panel-body {
  padding: 10px 0px;
}

.timeline .panel-outline .panel-heading:not(.icon),
.timeline .panel-outline .panel-footer {
  display: none;
}

.panel-selected {
  border-color: #5bc0de !important;
  border-style: outset;
}
.panel-selected>.panel-heading {
  background-color: #5bc0de !important;
  border-color: #5bc0de !important;
}

.panel-primary-user {
  border-color: #E892B4;
}
.panel-primary-time {
  border-color: #4A9DAD;
}
.panel-primary-picture {
  border-color: #BE6F4E;
}
.panel-primary-tag {
  border-color: #C7DD95;
}
.panel-primary-map-marker {
  border-color: #631534;
}

.panel-primary>.panel-heading-user {
  background-color: #E892B4;
  border-color: #E892B4;
}
.panel-primary>.panel-heading-time {
  background-color: #4A9DAD;
  border-color: #4A9DAD;
}
.panel-primary>.panel-heading-picture {
  background-color: #BE6F4E;
  border-color: #BE6F4E;
}
.panel-primary>.panel-heading-tag {
  background-color: #C7DD95;
  border-color: #C7DD95;
}
.panel-primary>.panel-heading-map-marker {
  background-color: #631534;
  border-color: #631534;
}

.panel-button {
  margin-left: 12px;
  margin-bottom: 4px;
}