.dual-list .list-group {
  margin-top: 8px;
  margin-bottom: 0px;
  min-height: 200px;
}

.list-right li {
  cursor: pointer;
}

.list-group-relation {
  height: 200px;
  background-color: white;
  border: 1px solid #eee;
  border-radius: 4px;
  overflow-y: auto;
}

.list-item-remove {
  color: red;
  float: right;
  margin-top: 2px;
}