@import '../settings';
@import '../common/typography';
@import './mixin';

.panel-heading {
  padding: 0;
}

.panel-heading {
  background: #FFFFFF;
}

.hovereffect {
  overflow: hidden;
  position: relative;
  height: 180px;
}

.cover-item {
  position: relative;
  display: inline-block;
  padding: 10px 15px;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  height: 80px;
  width: 100%;
}

.cover-item.selected {
  border-color: #5bc0de;
  border-width: 2px;
}

.cover-item.selected:after {
  content: "✓";
  position: absolute;
  font-size: 22px;
  color: #5bc0de;
  top: 2px;
  right: 6px;
}
.imgcard {
  border-radius: 4px 4px 0px 0px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
  border-bottom: 10px solid #334248;

}

.background-playlist{
  width: 54px;
  margin-top: -17px;
  margin-left: -13px;
}